@keyframes open\ details {
    from{opacity: 0;}
    to{opacity: 1;}
}

:root {
    --text-margin: min(6%, 60px);

    --light-main: #fff;
    --light-contrast: #000;
    --light-outline: #f0f0f0;

    --dark-main: #181818;
    --dark-contrast: #ffffff;
    --dark-outline: #202020;

    --main-theme: none;
    --contrast-theme: none;
    --outline-theme: none;

    --transition-time: none;
}


/*tags*/
body {
    width: 100%;
    height: 100%;

    background-color: var(--main-theme);
    color: var(--contrast-theme);
    transition: all var(--transition-time);

    overflow-y: scroll;
    overflow-x: hidden;

    text-align: left;
    font-size: clamp(22px ,1.3vw, 25px);
    font-family: verdana, sans-serif;
    line-height: 200%;
}


/*main tags*/
p {
    margin: var(--text-margin);
}

ul, ol {
    margin-left: calc(var(--text-margin) * 1.4);
}

h2, h3, h4 {
    margin: var(--text-margin);
}

/*details*/
details {
    color: var(--contrast-theme);
    margin: var(--text-margin);
    height: 1%;
    transition: all var(--transition-time);
}

details[open] {
    margin: var(--text-margin);
    height: 20%;
}

/*main other*/
video, img {
    border: 8px solid var(--outline-theme);
    border-radius: 2%;
    width: min(50%, 735px);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: all var(--transition-time);
}


/*dark/light mode toggle*/
.toggle {
    position: fixed;
    right: 2%;
    top: 2%;

    z-index: 1;

    --width: 60px;
    width: var(--width);
    --height: calc(var(--width) / 2.3);
    height: var(--height);
    border-radius: calc(var(--width) / 2);

    background-color: var(--contrast-theme);
    border: solid 3px var(--contrast-theme);
    transition: all var(--transition-time);

    display: inline-block;
}

.toggleIndicator {
    position: absolute;
    top: 0%;
    left: 100%;

    width: var(--height);
    height: var(--height);
    border-radius: calc(var(--height) / 2);

    background-color: var(--main-theme);
    transition: ease-in-out all var(--transition-time);

    display: inline-block;
}